<div class="container">
    <div class="row" >
        <div class="col-3 my-3" *ngFor="let p of photos">
            <div id="{{p.id}}" class="card h-100" >
                <img src="{{p.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Titolo: </h5>
                    <p class="card-text">{{p.title}}</p>
                    <div class="d-flex justify-content-between">
                        <button  class="btn btn-danger">Elimina</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>