/* IMPOSTAZIONI GENERALI */

body{   
    margin: 15px;
    background-image: url(../assets/img/sfondo.png);
    font-family: Poppins, 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    padding: 15px;
    background-position: center center;
}
* {box-sizing: border-box;}
/* HEADER */

header{
    background-color: rgb(0,160,198);
    background: linear-gradient(180deg, rgba(0,160,198,1) 0%, rgba(3,109,134,1) 68%);
    text-align: center;

    padding-top: 30px;
}
#box{
    height: 170px;
    border: 1px solid #000;
}

nav{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#h-div{
    margin-top: 0px;
}
/* NAV */

#menu a::before{
    content:"⇒ ";
}
#menu a::after{
    content:" ⇐";
}

/* MAIN */

main{
    text-align: left;
    padding-left: auto;
    padding-right: auto;
    
}
#container{
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #000;    
}

/* Immagini */
picture{
    margin-top: 5px;
}
img{
    height: 40px;
    
}

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

li{
    margin: 3px;
}

table{
    border: 1px solid black;
    margin-bottom: 5px;
    border-bottom: rgb(77, 77, 222);
    margin-bottom: 15px;
    
}

th{
    background-color: rgb(86, 86, 228);
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

td{
    border: 1px solid black;
}

/* FORM */

form{
    background-color: rgb(196, 194, 194);
    text-align: center;
}
/* ELEMENTI NELL' ASIDE */

/* FOOTER */
















.c-white{
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

#rossi{
    font-weight: bold;
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
}

#pallini{
    list-style: square;
    
}
p{
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.l-numeri{
    list-style-type: decimal;

    
}
/* Tabelle */


/* Form */

.titoli{
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

iframe{
    border-radius: 10px;

}

code{
    margin-left:5px ;
    margin-right: 5px;
    
}



footer{
    background-color: rgb(33, 131, 192);
    text-align: center;
}

.b-grigio{
    border-style: outset;
    border-radius: 5px;
}
strong{
    border-style: outset;
}
#d2{
    background-color: rgb(196, 188, 188);
    min-height: 75px;
    max-height: 90px;
    padding: 10px;
    margin: 10px;
}

#d3{
    background-color: rgb(196, 188, 188);
    min-height: 75px;
    max-height: 90px;
    padding: 10px;
    margin: 10px;
}

#corr{
    text-align: center;
    margin-top: 10px ;
}

#p-foot{
    margin-top: 10px;
    margin-bottom: 10px;
}

#p-rt{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: auto;
}
section{
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: auto;
}
article{
    margin-bottom: 15px;
    margin-top: 15px;
    padding: auto;
}