/* IMPOSTAZIONI GENERALI */
html {font-size: 62.5%;}
body{
    min-width:450px ;
    max-width: 500px;
    border:0;
    color: #393d41;
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    line-height:1.65 ;
    
}

h1, h2, h3 ,h4 , h5 , h6{
    color: #25a2c3;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    line-height: 1.5;
}

code{
    background-color:#f04c2f ;
    font-family: "Montserrat", bold;
    color: white;
    border: 1px solid #f04c2f;
    border-radius: 5px;
    padding: 15px;
    
}

a{
    text-decoration: none;
}

/* Header */
header{
    background-color: black;
    text-align: center;    

}
header div img {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 100%;
    height: auto;
}

strong{
    font-size: 2em;
    padding-bottom: 50px;
}


/* Main */
main{
    background-color: white;   
    text-align: center;
    font-family: "Open Sans", sans-serif;
}


/* Article */


.sect1{
    text-align: center;
    
}


/* Images */
#m-img{
    background-image: url(../assets/images/banner.jpg);
    background-position: center center;  
    background-size: cover; 
}

main div img{
    border-radius: 50% 50% 50% 50%;
    
}
section img{
    margin-top: 10px;
    margin-bottom: 10px;
}



/* Section */
section{
    padding: 1em;
    margin-bottom: 2em;
    text-align: center;
}

section h2 {
    margin-bottom: 10PX;
}

section p{
    margin-bottom: 15px;
}

#interno{
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    margin-top: 20px;
}

#color-sec{
    background-color: #e22d0e;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#dis-div{
    margin-top: 50px;
    margin-bottom: 20px;
}
section#color-sec p{
    margin-top: 10px;
    font-style: italic;
}


/* Aside */
aside{
    min-width: 450px;
    max-width: 500px;
    
    
}

.b-div{
    text-align: center;
    border: 0.5px solid #dee1e3; 
    width: 250px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.t-div{
    padding-top: 10px;
    padding-bottom: 15px;
}

#f-as{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Footer */



footer{
    color: #c8e7f0;
    background-color: #25a2c3;
    text-align: center;
    padding-top: 20px ;
    padding-bottom: 30px;

}

footer address{
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}
footer a{
    color: #c8e7f0 ;
}

footer h1{
    color: white;
}

#in-p{
    display: inline;
}
footer i {
    margin-right: 0.3em;
}

#margin-p{
    padding-top: 20px;
}
.under-a{
    text-decoration: underline;
}