/* IMPOSTAZIONI GENERALI */

body{
    max-width:500px ;  
    min-width: 450px;     
    color: #393d41;
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
    line-height:1.65 ;  
}

h1, h2, h3 ,h4 , h5 , h6{
    color: #25a2c3;
    font-family: "Montserrat", sans-serif; 
    line-height: 1.5;
}

code{
    background-color:#f04c2f ;
    font-family: "Montserrat", bold;
    color: white;
    border: 1px solid #f04c2f;
    border-radius: 5px;
    padding: 15px;
    
}

a{
    text-decoration: none;
}

p{
    text-indent: 20px;
}
/* Images */
#banner-img{
    background-image: url(../assets/images/banner.jpg);
    background-position: center center;  
    background-size: cover; 

}

main div img{
    border-radius: 50% 50% 50% 50%;   
}

section img{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Header */
header{
    background-color: black;
    text-align: center;   
}

header div img {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 200%;
    height: auto;
}

strong{
    font-size: 2em;
    padding-bottom: 50px;
}

/* Main */
main{
    background-color: white;   
    text-align: center;
    font-family: "Open Sans", sans-serif;
    
}

/* Article */

/* Section */
section{
    padding: 1em;
    margin-bottom: 2em;
    text-align: center;    
}

section h1{
    line-height: 30px;
}

section h2 {
    margin-bottom: 10PX;
}

section p{
    margin-bottom: 15px;    
}

#distanza-div{
    margin-top: 50px;
    margin-bottom: 20px;
}

#color-sec{
    background-color: #e22d0e;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

section#color-sec p{
    margin-top: 10px;
    font-style: italic;
}

section#banner-img div{
    max-width: min-content;
    margin-left: auto;
    margin-right: auto;
    
}

/* Aside */

.bordi-div{
    text-align: center;
    border: 0.5px solid #dee1e3; 
    max-width: min-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 5px;
}
aside#f-as div h3,p{
    padding-top: 10px;
    padding-bottom: 15px;
}

#flex-aside{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Footer */

footer{
    min-width: 450px;
    max-width: 500px;
    color: #c8e7f0;
    background-color: #25a2c3;
    text-align: center;
    padding-top: 20px ;
    padding-bottom: 30px;
}

footer address{
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    
    padding-bottom: 20px;
}
footer a{
    color: #c8e7f0 ;
}

footer h1{
    color: white;
    font-size: x-large;
    margin-bottom: 15px;
}

#inline-p{
    display: inline;
}
footer address i {
    margin-right: 0.3em;
}

footer i{
    text-align: start;
}
#margin-p{
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    text-align: center;
    border-top: 1px solid white;
}
.under-a{
    text-decoration: underline;
}