@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import './color';
@import './font';
@import './variable';

.avatar{
    width: 30px;
    border-radius: 50px 50px 50px 50px;
}

.title{
    @include title-span;
}

.p-hero{
    @include p-car;
}

.color-main{
    background-color: $bg-color;
    height: 500px;
}

.hero{
align-items: center;
    height: 55vh;
}

.svg-style{
    @include style-svg;
}

svg{
    @include svg-ab;
}