/* IMPOSTAZIONI GENERALI */

body{
    min-width: 1366px;
    max-width: 1920px;
    color: #393d41;
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif; 
    line-height:1.65 ;
    
}

h1, h2, h3 ,h4 , h5 , h6{
    color: #25a2c3;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
}

code{
    background-color:#f04c2f ;
    font-family: "Montserrat", bold;
    color: white;
    border: 1px solid #f04c2f;
    border-radius: 5px;
    padding: 15px;
    
}

a{
    text-decoration: none;
}

/* Header */
header{
    background-color: black;     

}
header div img {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 100%;
    height: auto;
}

strong{
    font-size: 2em;
    padding-bottom: 50px;
}


/* Main */
main{
    background-color: white;   
    text-align: center;
    font-family: "Open Sans", sans-serif;
}


/* Article */


.sect1 p{
    text-align: center;
}

#m-img{
    background-image: url(../assets/images/banner.jpg);
    background-position: center;
    background-image: cover;      
}

main div img{
    border-radius: 50% 50% 50% 50%;
    width: 100%;
}

#interno{
    max-width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    margin-top: 20px;

}

/* Section */
section{
    padding: 1em;
    margin-bottom: 2em;
    text-align: center;
}

section h2 {
    margin-bottom: 10PX;
}

section p{
    margin-bottom: 15px;
}

section img{
    margin-top: 10px;
    margin-bottom: 10px;
}
#color-sec{
    background-color: #e22d0e;
    color: white;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

#dis-div{
    margin-top: 50px;
    margin-bottom: 20px;
}
section#color-sec p{
    margin-top: 10px;
    font-style: italic;
    text-align: center;
}



#s1{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;  
    text-align: left;
}

/* Aside */
#box2{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-content: space-around;
}
aside{
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
}

aside p{
    text-align: center;
    
}

.b-div{
    text-align: center;
    border: 0.5px solid #dee1e3; 
    width: 250px;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-left: 30px;
}
.t-div{
    text-align: center;
    padding: 10px;
    padding-bottom: 15px;
    
}

/* Footer */

#upper{
    text-transform: uppercase;
    
}

footer{
    color: #c8e7f0;
    background-color: #25a2c3;
    text-align:center ;
    padding-top: 20px ;
    padding-bottom: 30px;

}

footer h1{
    color: white;
    margin-bottom: 20px;
    font-size: large;
}
footer address{
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    text-align: left;
    font-size: small;
}
footer a{
    color: #c8e7f0 ;
}

#in-p{
    display: inline;
}

footer i {
    margin-right: 0.3em;
}

#margin-p{
    padding-top: 20px;
    text-align: center;
    
}

.under-a{
    text-decoration: underline;
}