.logo{
    width: 50px;
    height: 50px;
    border-radius: 50px 50px 50px 50px;

}

.article-img{
    width: 80px;
    height: 80px;
}

.article-img2{
    width: 200px;
    height: 120px;
}

.bg-image{
    background-image: url("https://picsum.photos/200");
}