

.box{
    border-radius: 10px;
    border-color: #3E8E41;
    border-style: groove;
    border-width: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.902);
    
}

li{
    list-style-type: none;
    margin-top: 10px;
    text-align: left;
}
button{
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    background-color:red ;
    color: white;
    font-size: 10px;
}

button:hover{
    background-color: orange;
}

button#aggiungi {
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
}
button#aggiungi:hover {
    background-color: #3E8E41;
}
input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

body{
    background-image: url(../images/download.png);
}