<div class="container">
    <div class="d-flex justify-content-end ">

        <div class="input-group mb-3 w-25">
            <input type="text" class="form-control" placeholder="Cerca " [(ngModel)]="search">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="searchTasks()">Cerca</button>
            </div>
        </div>
    </div>

    <div class="list-group">
        <div class="d-flex my-2" *ngFor="let t of filteredTasks">
            <div class="mr-3">
                <img [src]="getUserImage(t.userId)" height="100px" alt="">
            </div>
            <div>
                <div class="list-group-item todo">
                    <div class="d-flex flex-column w-100 justify-content-between">
                        <div class="d-flex justify-content-between px-3" [ngClass]="{
                                'bg-done': t.completed,
                                'bg-not': !t.completed
                            }">
                            <h5 class="mb-1">Task</h5>
                            <input type="checkbox" [checked]="t.completed" (change)="taskStatus(t)"
                                class="custom-checkbox">
                        </div>
                        <ul class="ps-3">
                            <li class="text-body-secondary mt-2" 
                            [ngClass]="{'done': t.completed}">{{t.todo}}</li>
                        </ul>
                    </div>
                    <small class="mb-1 mt-2">{{ getUserName(t.userId) }} - {{getUserTitle(t.userId)}}</small>
                </div>
            </div>
        </div>
    </div>
</div>