<div class="container">
    <div>
        <p class="">Le nostre Automobili</p>

        <div class="row my-2">
            <div class="col-3" *ngFor="let car of cars;">
                <div class="card my-2  ">
                    <img src="https://picsum.photos/200/300?grayscale" class="card-img-top" height="300px" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Brand: {{car.brand}}</h5>
                        <h6 class="card-text ">Modello: {{car.model}}</h6>
                        <p  class="">Prezzo: {{car.price}}</p>
                        <p class="card-text ">Anno: {{car.year}}</p>
                        <a id="" href=""><button class="btn btn-primary">Vai all'articolo</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>