<div class="container" *ngFor="let t of task">
    <div class="list-group">
        <div class="d-flex" >
            <div class="mr-3">
                <img [src]="getUserImage(t.userId)" height="100px" alt="">
            </div>
            <div class="p-3">
                <div>
                    <div id="{{getTasksByUserId(t.userId)}}" class="list-group-item todo" >
                        <div class="d-flex flex-column w-100 justify-content-between">
                            <div class="d-flex justify-content-between"  >
                                <p class="mb-1 mt-2">{{ getUserName(t.userId) }} - {{getUserTitle(t.userId)}}</p>
                            </div>
                            <div  *ngFor="let d of taskByUser" class=" d-flex justify-content-between border border-dark p-1 my-1 " 
                            [ngClass]="{
                                'bg-done': d.completed,
                                'bg-not': !d.completed
                            }"> 
                                <small class="text-body-secondary">{{d.todo}}</small>
                                <div>

                                    <input type="checkbox" [checked]="d.completed" (change)="taskStatus(d)" class="custom-checkbox">
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>