<div class="container" *ngFor="let t of task">
    <div class="list-group">
        <div class="d-flex" >
            <div class="mr-3">
                <img [src]="getUserImage(t.userId)" height="100px" alt="">
            </div>
            <div class="p-3">
                <div>
                    <a getTasksByUserId class="list-group-item list-group-item-action todo">
                        <div class="d-flex flex-column w-100 justify-content-between">
                            <div class="d-flex justify-content-between" >
                                <p class="mb-1 mt-2">{{ getUserName(t.userId) }} - {{getUserTitle(t.userId)}}</p>
                                <input type="checkbox" [checked]="t.completed" (change)="toggleTaskStatus(t)" class="custom-checkbox">
                            </div>
                            <div *ngFor="let d of taskByUser" class="border border-dark p-1 my-1 " 
                            [ngClass]="{
                                'bg-success': t.completed,
                                'bg-danger': !t.completed
                            }">
                                <small class="text-body-secondary">{{d.todo}}</small>
                            </div>
                        </div>
                        
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</div>