@mixin title{
    font-size: 1.5rem;
    font-weight: bold;

}

@mixin font{
    font-size: 0.8rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}