<div class="container">
    <div class="d-flex flex-column text-center gap-3 my-3">
        <div>
            <span class="display-5 fw-bold">Che manzione avrai oggi?</span>
        </div>
        <div class="d-flex gap-3 justify-content-center">
            <button routerLink="/completed" class="btn btn-primary btn-sm">Completati</button>
            <button routerLink="/uncompleted" class="btn btn-primary btn-sm">Da completare</button>
            <button routerLink="/users" class="btn btn-primary btn-sm">Utenti</button>
            <button routerLink="/" class="btn btn-primary btn-sm">Tutti</button>
        </div>
    </div>
</div>
