<div class=" align-items-middle">
    <div class="container px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="assets/img/vetrina.jpg" class="d-block mx-lg-auto img-fluid" alt=""  loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Sti film so proprio na Bomba</h1>
                <h3>Iscriviti <small>e vielli a vedè</small></h3>
                <p class="lead">Benvenuti nel cuore palpitante de "Il Regno dei Film Epici", il santuario definitivo per gli amanti dell'avventura, dell'azione e dell'eroismo cinematografico. Qui, tra i maestosi picchi delle montagne e le profondità misteriose degli oceani, troverete una collezione senza pari di film che hanno scritto la storia del cinema.</p>
            </div>
        </div>
    </div>
</div>
<div class="e">
	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true" [checked]="showSignup">

			<div class="signup" >
				<form>
					<label for="chk" aria-hidden="true">Sign up</label>

					<input type="text" name="txt" placeholder="Name" required="" [(ngModel)]="registerData.name" class="form-control">

					<input type="email" name="email" placeholder="Email" required="" [(ngModel)]="registerData.email" class="form-control">

                    <input type="text" name="username" placeholder="UserName" required="" [(ngModel)]="registerData.username" class="form-control">

					<input type="password" name="pswd" placeholder="Password" required="" [(ngModel)]="registerData.password" class="form-control">

					<button (click)="signUp()">Sign up</button>
				</form>
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" name="email" placeholder="Email" required="" [(ngModel)]="loginData.email" class="form-control">
					<input type="password" name="pswd" placeholder="Password" required="" [(ngModel)]="loginData.password" class="form-control">
					<button (click)="signIn()">Login</button>
				</form>
			</div>
	</div>
</div>
